/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Asterisk wildcard to over ride default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General project styles */
    color: darkgray;
    font-family: 'Poppins', sans-serif;
}

/* Header */
header {
    background-color: brown;
    text-align: center;
}

/* First section */
main {
    background-color: blueviolet;
    flex: 1 0 auto;
}

/* Game Box */
.general-box {
    display: flex;
    width: 900px;
    background-color: white;
    justify-content: space-around;
    padding: 40px;
    box-shadow: 0 2px 2px black;
}

/* Game image */
.hangman-box img {
    max-width: 300px;
}

/* Footer */
footer {
    background-color: coral;
}
